.form-control {
    border-radius: .45rem !important;
    line-height: 1.8 !important;
}

.page-item.active .page-link {
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;

    color: #ffffff !important;
}

.page-link {
    color: #333333 !important;
}